# pandas

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_excel(r'EmployeeSampleData.xlsx')

In [ ]:
df

In [ ]:
type(df)

In [ ]:
pd.read_excel(r'EmployeeSampleData.xlsx')

In [ ]:
df.head(10)

In [ ]:
df.tail(10)

In [ ]:
df.head()

In [ ]:
pd.read_excel(r'EmployeeSampleData.xlsx',header=None)

In [ ]:
names = ['Employee ID', 'Full Name', 'Job Title','Branch','Business resource', 'Gender','locality','Age','Hire Date','Annual Salary','Bonus %','Country','City','Exit Date']

In [ ]:
pd.read_excel(r'EmployeeSampleData.xlsx',header=None,names = ['Employee ID', 'Full Name', 'Job Title','Branch','Business resource', 'Gender','locality','Age','Hire Date','Annual Salary','Bonus %','Country','City','Exit Date'])

In [ ]:
"""this is a doc string"""

In [ ]:
def test(a,b):
    """This is a doc string"""
    return a+b

In [ ]:
test(19,30)

In [ ]:
def add(*m):
    n = 0
    for i in m:
        n = n+i
    return n

In [ ]:
add(20,390)

In [ ]:
def add(*m):
    n = 1
    for i in m:
        if type(i) == int:
            n = n+1
    return n

In [ ]:
add(20,3)

In [ ]:
def add(a,b):
    return a+b

In [ ]:
add(10,30)

In [ ]:
n = 7
for i in range(n):
    for j in range(0,i+1):
        print("*", end = " ")
    print()

In [ ]:
input()

In [ ]:
int(input(52))

In [ ]:
def star(q):
    return q

In [ ]:
star(8)

In [ ]:
n = int(input("enter a number: "))
for i in range(n):
    for j in range(0,i+1):
        print("*", end  = " ")
    print()

In [12]:
n = int(input("enter a number: "))
for i in range(n):
    for j in range(0,i+1):
        print('*',end = " ")
    print()

enter a number: 5
*
* *
* * *
* * * *
* * * * *

In [36]:
def star(*n):
    n = int(input("enter a number: "))
    for i in range(n):
        for j in range(0,i+1):
            print('*',end = " ")
        print()
    return n

In [37]:
star(1)

enter a number: 5
*
* *
* * *
* * * *
* * * * *

5

In [18]:
def add():
    return add

In [26]:
def add(a,b):
    return a+b

In [27]:
add(1,2)

3

In [28]:
def mul(a,b):
    return a*b

In [29]:
mul(3,9)

27

In [32]:
def add(*m):
    n = 0
    for i in m:
        if type(i) == int:
            n = n+i
    return n

In [33]:
add(2,3)

5

In [40]:
def add(*m):
    n = 0
    for i in m:
        if type(i) == int:
            n = n+i
    return n

In [41]:
add(2,4)

6

In [42]:
import pandas as pd

In [43]:
pd.read_excel(r'EmployeeSampleData.xlsx')

,Employee ID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02002,Kai Le,Controls Engineer,Engineering,Manufacturing,Male,Asian,47,2022-05-02 00:00:00,"$92,368",0.00,United States,Columbus,NaN
1,E02003,Robert Patel,Analyst,Sales,Corporate,Male,Asian,58,10/23/2013,"$45,703",0.00,United States,Chicago,NaN
2,E02004,Cameron Lo,Network Administrator,IT,Research & Development,Male,Asian,34,3/24/2019,"$83,576",0.00,China,Shanghai,NaN
3,E02005,Harper Castillo,IT Systems Architect,IT,Corporate,Female,Latino,39,2018-07-04 00:00:00,"$98,062",0.00,United States,Seattle,NaN
4,E02006,Harper Dominguez,Director,Engineering,Corporate,Female,Latino,42,6/18/2005,"$175,391",0.24,United States,Austin,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,E02997,Melody Delgado,Network Architect,IT,Specialty Products,Female,Latino,48,11/28/2012,"$71,632",0.00,Brazil,Rio de Janeiro,NaN
996,E02998,Eliza Bui,Analyst,Finance,Corporate,Female,Asian,63,6/13/2010,"$45,337",0.00,United States,Seattle,NaN
997,E02999,Layla Wu,Sr. Account Representative,Sales,Research & Development,Female,Asian,31,8/27/2018,"$89,573",0.00,United States,Miami,NaN
998,E03000,Thomas Lam,Controls Engineer,Engineering,Manufacturing,Male,Asian,52,11/18/2022,"$75,775",0.00,United States,Seattle,NaN
999,E03001,Willow Taylor,Account Representative,Sales,Corporate,Female,Black,27,2021-08-02 00:00:00,"$51,321",0.00,United States,Seattle,NaN

In [44]:
df = pd.read_excel(r'EmployeeSampleData.xlsx')

In [45]:
df

,Employee ID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02002,Kai Le,Controls Engineer,Engineering,Manufacturing,Male,Asian,47,2022-05-02 00:00:00,"$92,368",0.00,United States,Columbus,NaN
1,E02003,Robert Patel,Analyst,Sales,Corporate,Male,Asian,58,10/23/2013,"$45,703",0.00,United States,Chicago,NaN
2,E02004,Cameron Lo,Network Administrator,IT,Research & Development,Male,Asian,34,3/24/2019,"$83,576",0.00,China,Shanghai,NaN
3,E02005,Harper Castillo,IT Systems Architect,IT,Corporate,Female,Latino,39,2018-07-04 00:00:00,"$98,062",0.00,United States,Seattle,NaN
4,E02006,Harper Dominguez,Director,Engineering,Corporate,Female,Latino,42,6/18/2005,"$175,391",0.24,United States,Austin,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,E02997,Melody Delgado,Network Architect,IT,Specialty Products,Female,Latino,48,11/28/2012,"$71,632",0.00,Brazil,Rio de Janeiro,NaN
996,E02998,Eliza Bui,Analyst,Finance,Corporate,Female,Asian,63,6/13/2010,"$45,337",0.00,United States,Seattle,NaN
997,E02999,Layla Wu,Sr. Account Representative,Sales,Research & Development,Female,Asian,31,8/27/2018,"$89,573",0.00,United States,Miami,NaN
998,E03000,Thomas Lam,Controls Engineer,Engineering,Manufacturing,Male,Asian,52,11/18/2022,"$75,775",0.00,United States,Seattle,NaN
999,E03001,Willow Taylor,Account Representative,Sales,Corporate,Female,Black,27,2021-08-02 00:00:00,"$51,321",0.00,United States,Seattle,NaN

In [49]:
pd.head(12)

AttributeError: module 'pandas' has no attribute 'head'

In [50]:
def add(*m):
    n = 0
    for i in m:
        if type(i) == int:
            n = n+i
    return n

In [51]:
add(23,98)

121

In [110]:
def mul(*r):
    n = 1
    for i in r:
        if type(i) == int:
            n = n*i
    return n

In [111]:
mul(20,30)

600

In [100]:
div(2,5)

0.4