In [1]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [19]:
n = 4
for i in range(10):
    for j in range(0 ,i+1):
        print("*", end = " ")
    print("\n")

*

* *

* * *

* * * *

* * * * *

* * * * * *

* * * * * * *

* * * * * * * *

* * * * * * * * *

* * * * * * * * * *

In [27]:
n = 4
for i in range(4):
    for j in range(0, i+1):
        print("harekrishna",end =" ")
    print("\n")

harekrishna

harekrishna harekrishna

harekrishna harekrishna harekrishna

harekrishna harekrishna harekrishna harekrishna

In [41]:
n = 4
k = n
for i in range(n):
    k = k-1
    print('  '*k,end=" ")
    for j in range(0, i+1):
        print("sudh", end =" ")
    print("\n")

       sudh

     sudh sudh

   sudh sudh sudh

 sudh sudh sudh sudh

In [42]:
t = (3,23,45,67,2,4,5,6)

In [43]:
type(t)

tuple

In [45]:
for i in range(len(t)):
    print(i,t[i])

0 3
1 23
2 45
3 67
4 2
5 4
6 5
7 6

In [52]:
s ="ineuron"
for i in range(len(s)):
    print(i,s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [58]:
for i in range(len(s)-1,-1,-1):
    print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i

In [59]:
l = ["sudh", "kumar", 12345763, "sudhan@ineuron.in", 123,32456321]
type(l)

list

In [63]:
l1 =[]
for i in l:
    if type(i) == int:
        l1.append(i)

In [65]:
l1

[12345763, 123, 32456321]

In [66]:
s = "aaabbccc"

In [67]:
s

'aaabbccc'

In [81]:
for i in set(s):
    print(i," :",s.count(i))

b  : 2
c  : 3
a  : 3

In [85]:
i = 12345678854

for j in str(i) :
    print(int(j),type(int(j)))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
7 <class 'int'>
8 <class 'int'>
8 <class 'int'>
5 <class 'int'>
4 <class 'int'>

In [83]:
str(i)

'12345678854'

In [106]:
t = ("sudha","kumar",[1,2,3,4,5],(3,4,5,6),{3:3,"key1":"sudha","key":"kumar"})

In [116]:
for i in t:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j == 3:
                print(j)
    if type(i) == dict:
        for k,v in i.items():
            if k == 3 or v == 3:
                print(k)
                print(v)

3
3
3
3

In [128]:
l = 4
for i in range(l):
    for i in range(0, i+1):
        print("i neruon", end=" ")
    print("\n")

i neruon

i neruon i neruon

i neruon i neruon i neruon

i neruon i neruon i neruon i neruon