In [ ]:
#q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

In [1]:
n = 4
for i in range(n):
    for j in range(0,i+1):
        print("ineuron",end =" ")
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [ ]:

#q2 - 

          ineruon
    ineruon      ineruon
ineruon     ineruon     ineruon
    ineruon      ineruon
          ineruon

In [206]:
n = 5
for i in range(n):
    for j in range(i,n-1):
        print(" "*len("ineruon\r"), end = " ")
    for j in range(i-1):
        print("ineruon\t", end = " ")
    for j in range(i):
        print("ineruon\t", end=" ")

                                                               ineruon	                   ineruon	 ineruon	 ineruon	          ineruon	 ineruon	 ineruon	 ineruon	 ineruon	 ineruon	 ineruon	 ineruon	 ineruon	 ineruon	 ineruon	 ineruon	 ineruon

ineruon

ineruon

ineruon

In [4]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [5]:
for i in l:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [7]:
for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [8]:
for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [46]:
for i in l:
    if type(i) == int:
        print(i)

In [51]:
l1=[]
for i in l :
    if type(i) == list or type(i)== tuple :
        for j in i :
            l1.append(j)
    if type(i) == dict :
        for k in i.items():
            for m in k :
                l1.append(m)

In [52]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [67]:
for i in l:
    if type(i) == dict:
        print(i[l],i)

TypeError: unhashable type: 'list'

In [109]:
n=5
for i in range(n-1):
    for j in range(i,n):
        print(" ",end=" ")
    for j in range(i):
        print("*",end=" ")
    for j in range(i+1):
        print("*",end=" ")
    print()
for i in range(n):    
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n-1):
        print("*",end=" ")
    for j in range(i,n):
        print("*",end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [110]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]
a,b,c,d,e,f=l

TypeError: 'list' object is not callable

In [111]:
x = list(l)

In [112]:
x

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [127]:
for i in x:
    print(type(x))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

['ineuron', 'data science ']

In [132]:
import random
print(random.randrange(0,10))

7

In [144]:
b = "Hello, World!"
print(b[-9:-4])

o, Wo

In [151]:
txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.tgr")

print(x)

banana

In [156]:
age = 36
tex = "My name is John,  and I am {}"
print(tex.format(age))

My name is John,  and I am 36