In [1]:
a = 10
if a > 7:
    print("hare krishna")

In [2]:
a = 10
if a ==11:
    print("hare krishna")
else :
    print("hare rama")

hare rama

In [3]:
a = input()

500

In [4]:
print(a)

500

In [5]:
a = int(input())

7

In [6]:
a

7

In [7]:
l = [1,2,3,3,4,556,45452,"sudha","kumar",45.56]

In [8]:
for i in l:
    print(i)

1
2
3
3
4
556
45452
sudha
kumar
45.56

In [9]:
for i in l:

IndentationError: expected an indented block (1525633252.py, line 2)

In [10]:
for i in l:
    pass

In [11]:
s = "sudh"

In [12]:
s

'sudh'

In [13]:
for i in s :
    print(i)

s
u
d
h

In [14]:
for i in l:
    print(i)

1
2
3
3
4
556
45452
sudha
kumar
45.56

In [15]:
for i in l :
    print(i)
else :
    print("if for loop is going to complete itself the is will execute else")

1
2
3
3
4
556
45452
sudha
kumar
45.56
if for loop is going to complete itself the is will execute else

In [16]:
for i in l :
    if i == 4:
        break
    print(i)
else :
    print("this will execute only if for is going to complete itself")

1
2
3
3

In [17]:
s = "sudushu"
for i in s :
    if i == "z":
        break
    print(i)
else :
    print("print string",s)

s
u
d
u
s
h
u
print string sudushu

In [18]:
t = (4,5,6,7,8,9,"sudh")
for i in t :
    print(i)

4
5
6
7
8
9
sudh

In [19]:
b = {4,5,6,7,7,7,7,7,7,7,7,8,"sudh"}
type(b)

set

In [20]:
b

{4, 5, 6, 7, 8, 'sudh'}

In [21]:
for i in b :
    print(i)

4
5
6
7
8
sudh

In [22]:
d = {"key1" : "sudh", "contact" : "sainaveen005@gmail.com", "position": "Data science"}

In [23]:
for i in d:
    print(i)

key1
contact
position

In [24]:
for i in d:
    print(i,d[i] )

key1 sudh
contact sainaveen005@gmail.com
position Data science

In [25]:
for i in d:
    print(i, ":", d[i])

key1 : sudh
contact : sainaveen005@gmail.com
position : Data science

In [26]:
range(9)

range(0, 9)

In [27]:
l = range(9)

In [28]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [29]:
type(l)

range

In [30]:
print(l)

range(0, 9)

In [32]:
range(10)

range(0, 10)

In [35]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [36]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [38]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [40]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [42]:
n = 4
for i in range(4):
    for j in range(0, i+1):
        print("sudh", end = " ")
    print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [96]:
n = 3
for i in range(n):
    for j in range(i,n-1):
        print(" "*len("hare krishna"), end = " ")
    for j in range(i+1):
        print("hare krishna", end = " ")
    for j in range(i):
        print("hare krishna", end=" ")
    print()

                          hare krishna
             hare krishna hare krishna hare krishna
hare krishna hare krishna hare krishna hare krishna hare krishna

In [97]:
t = (3,23,45,67,2,4,5,6)

In [102]:
for i in range(len(t)):    
    print(i,":",t[i])

0 : 3
1 : 23
2 : 45
3 : 67
4 : 2
5 : 4
6 : 5
7 : 6

In [105]:
s = "ineuron"
for i in range(len(s)):
    print(i,":",s[i])

0 : i
1 : n
2 : e
3 : u
4 : r
5 : o
6 : n

In [106]:
s

'ineuron'

In [107]:
s[-1]

'n'

In [109]:
s

'ineuron'

In [120]:
for i in (range(len(s)-1,-1,-1)):
    print(i,":",s[i])

6 : n
5 : o
4 : r
3 : u
2 : e
1 : n
0 : i

In [121]:
d

{'key1': 'sudh',
 'contact': 'sainaveen005@gmail.com',
 'position': 'Data science'}

In [129]:
for i in d.items():
    print(i,type(i),type(i[1]))

('key1', 'sudh') <class 'tuple'> <class 'str'>
('contact', 'sainaveen005@gmail.com') <class 'tuple'> <class 'str'>
('position', 'Data science') <class 'tuple'> <class 'str'>

In [130]:
l = ["sudh","kumar",32452454,"sudhashu@gmail.com",345,3456732]

In [131]:
l

['sudh', 'kumar', 32452454, 'sudhashu@gmail.com', 345, 3456732]

In [132]:
l = ["sudh","kumar",32452454,"sudhashu@gmail.com",345,3456732]
s

['sudh', 'kumar', 32452454, 'sudhashu@gmail.com', 345, 3456732]

In [133]:
l[0]

'sudh'

In [146]:
l = ["sudh","kumar",32452454,"sudhashu@gmail.com",345,3456732]
l1=[]
for i in l:
    if type(i) == int:
        l1.append(i)

In [147]:
l1

[32452454, 345, 3456732]

In [148]:
d

{'key1': 'sudh',
 'contact': 'sainaveen005@gmail.com',
 'position': 'Data science'}

In [149]:
d = {1:345234,"name": "sudh","email_id": "sudhanshu@gmail.com",234:"fhh9p8ef","43":"dfrtaw",234:"32334"}

In [150]:
d

{1: 345234,
 'name': 'sudh',
 'email_id': 'sudhanshu@gmail.com',
 234: '32334',
 '43': 'dfrtaw'}

In [159]:
d1=[]
for i in d:
    if type(d) == int:
         d1.append(i)

In [160]:
d1

[]

In [162]:
d[1]

345234

In [163]:
type(d[1])

int

In [167]:
for i in d:
    if type(i) == int:
        print(i, ":",d[i])

1 : 345234
234 : 32334

In [2]:
s = "aaaabbccd"
s

'aaaabbccd'

In [3]:
s[0]

'a'

In [4]:
s

'aaaabbccd'

In [5]:
s.count("a")

4

In [6]:
s.count("a")

4

In [7]:
for i in set(s):
    print(i,":",s.count(i))

b : 2
d : 1
a : 4
c : 2

In [1]:
s = "aaaabbccd"
for i in set(s):
    print(i,":", s.count(i))

a : 4
b : 2
c : 2
d : 1

In [2]:
i = 34563456789321
for j in i:
    print(j)

TypeError: 'int' object is not iterable

In [3]:
str(i)

'34563456789321'

In [5]:
for j in str(i):
    print(int(j),type(int(j)))

3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
6 <class 'int'>
7 <class 'int'>
8 <class 'int'>
9 <class 'int'>
3 <class 'int'>
2 <class 'int'>
1 <class 'int'>

In [35]:
t = ("sudah","kumar",[2,3,4,5],(3,4,5,6),{3:3,"key1":"sudh","key2": "kumar"})

In [34]:
for i in t:
    if type(i) == list or type(i) == tuple:
        for j in i :
            if j == 3:
                print(j)
    if type(i) == dict:
        for k,v in i.items():
            if k == 3 or v == 3:
                print(k)
                print(v)

3
3
3
3

3