In [1]:
a = 10

In [2]:
a

10

In [3]:
a = 10
if a == 11 :
    print("this my first condition")

In [4]:
a = 10
if a > 5 :
    pass

In [5]:
a = 10
if a > 8:
    print("Print this if condition id true")

Print this if condition id true

In [6]:
a = 10 
if a == 11:
    print("My condition is flase")
else :
    print("print this")

print this

In [7]:
a = 17 
if a == 10 :
    print("Here we are trying to compair 10 with 12")
elif a == 11:
    print("We are tryong to compair 10 with the 11")
else :
    print("if all the blocks will fail then do this")

if all the blocks will fail then do this

In [8]:
price = 500
if price > 500:
    print("May be i wont be able to buy a jacket")
elif price < 500:
    print(" I will be able to buy a jacket")
else price == 500:
    print("i dont know")

SyntaxError: invalid syntax (4238435239.py, line 6)

In [ ]:
price = 500
if price > 500:
    print("May be i wont be able to buy a jacket")
elif price < 500:
    print(" I will be able to buy a jacket")
elif price == 500:
    print("for sure i am able to buy")
else :
    print("i dont know")

In [ ]:
price = 500

In [ ]:
price > 500

In [ ]:
price < 500

In [ ]:
price == 500

In [ ]:
l = [1,2,3,4,5,6]
2 in l

In [ ]:
if 60 in l :
    print("try to perform a task")
else:
    print("do not perform this task")

In [ ]:
60 in l

In [ ]:
l

In [ ]:
if 10 in l:
    print("Try to do a addition")
elif 2 in l:
    print("try to do substraction")
elif 3 in l:
    print("ry to do multiplication")
if 4 in l:
    print("This is new statement")

In [ ]:
a = 400

In [ ]:
b = int(input())

In [ ]:
b

In [ ]:
type(b)

In [ ]:
price = int(input())
if price < 500 :
    print("i will be able to buy somthing")
    if price < 400:
        print("i will be able to buy a jacket")
    elif price < 300:
        print("i will be able to buy a shirt")
        if price < 200 :
            print("i would able to buy anything")
        else :
            print("i wont be able to buy any thing")
    else :
        print("i wont able to buy anything")
else :
    print("i wont able to buy anything with this price tag")
    if price > 500:
        print("Lets try somthing else")

In [ ]:
marks = int(input())
if marks < 600:
    print("no gre")
    if marks < 500:
        print("tofel")
    if marks < 400:
        print("try somthing else")
    else:
        print("you got tofel")
else:
    print("you got gre congo")

In [ ]:
val = float(input("enter a floating point number"))
if val >= 0:
    if val == 0:
        print("enter value is a zero")
    else:
        print("enter value is a positive number")
else:
    print("entered number is a negative number")

In [ ]:
a = 10
if a < 10 and a == 10:
    print("try to do somthing")

In [ ]:
a = "sudh"
if a== "sudh" or a== "Sudh":
    print("this is sudh")

In [ ]:
a = 10
b = 11
c = 12
d = 13
if a == 9 or b == 11 and c== 12 and d ==13:
    print("lets do somthing")

In [ ]:
d = {"key1" : "value", "key2":"sudh", "key3":"ineuron"}

In [ ]:
d["key2"]

In [ ]:
if d["key1"] == "value" and d["key2"] == "sudh" and d["key3"] == "ineuron":
    print("all the values are verified")
else:
    print("all the values are not verified")
    print(d.values())

In [ ]:
d = {"key1" : "values", "key2":"sudh", "key3":"ineuron"}
if d["key1"] == "value" and d["key2"] == "sudh" and d["key3"] == "ineuron":
    print("all the values are verified")
    print("all the values are not verified")
    print(d.values())
else : 
    print("all the values are missmatch")

In [10]:
l = [1,2,3,4,5,"sudha",324.4]

In [11]:
l[6:4]

[]

In [12]:
l[2:5]

[3, 4, 5]

In [24]:
for i in l:
    if type(i)==int or type(i)==float:
        print(i+1)
    elif type(i) == str:
        print(i + str())

2
3
4
5
6
sudha
325.4

In [25]:
l=[1,2,3,4,5,5,6,"hare",56.74]

In [26]:
l

[1, 2, 3, 4, 5, 5, 6, 'hare', 56.74]

In [45]:
for i in l:
    if type(i)==int:
        print(i+1)
    elif type(i)==str:
        print(i+ str( " rama" + " krishna"))
else:
    print(i)

2
3
4
5
6
6
7
hare rama krishna
56.74

In [46]:
for i in l:
    print(i)

1
2
3
4
5
5
6
hare
56.74