In [1]:
s = "this is my first pyton programming class and i am learning python string and its function"
s[0:300:3]

'tssyitynrrmglsnimengyosi dtfco'

In [2]:
s[::-1]

'noitcnuf sti dna gnirts nohtyp gninrael ma i dna ssalc gnimmargorp notyp tsrif ym si siht'

In [3]:
s1= s.upper()

In [4]:
s1

'THIS IS MY FIRST PYTON PROGRAMMING CLASS AND I AM LEARNING PYTHON STRING AND ITS FUNCTION'

In [5]:
s1.split()

['THIS',
 'IS',
 'MY',
 'FIRST',
 'PYTON',
 'PROGRAMMING',
 'CLASS',
 'AND',
 'I',
 'AM',
 'LEARNING',
 'PYTHON',
 'STRING',
 'AND',
 'ITS',
 'FUNCTION']

In [6]:
s.lower()

'this is my first pyton programming class and i am learning python string and its function'

In [7]:
s.capitalize()

'This is my first pyton programming class and i am learning python string and its function'

In [8]:
s1= "sudhafsd"
s1.isalnum()

True

In [9]:
s2 = "sudha123"
s2.isalpha()

False

In [10]:
s="hare\tkrishna\thare\trama"
s.expandtabs()

'hare    krishna hare    rama'

In [11]:
w = "                hare krishna          "
w.strip()

'hare krishna'

In [12]:
w.lstrip()

'hare krishna          '

In [13]:
w.rstrip()

'                hare krishna'

In [14]:
b = "hare krishna"
b.replace("krishna","rama")

'hare rama'

In [21]:
n = "harekrishna"
n.center(20,"@")

'@@@@harekrishna@@@@@'

In [32]:
n = 4
for i in range(n):
    print("ineruon "*(i+1))
    print("\n")

ineruon


ineruon ineruon


ineruon ineruon ineruon


ineruon ineruon ineruon ineruon

In [33]:
for i in l:
    if type(i)== tuple:
        print(i)

NameError: name 'l' is not defined

In [37]:
l=[]
for i in l:
    if type(i)==list or type(i)==tuple or type(i)== set:
        for j in i:
            if type(j)== int:
                l.append(j)
    if type(i)==dict:
        for k in i.items():
            for g in k:
                if type(g)==int:
                    l1.append(g)

In [39]:
for i in l1:
    if i % 2 ==0:
        pass
    else:
        print(i)

NameError: name 'l1' is not defined

In [40]:
for i in set(l1):
    print(i,":",l.count(i))

NameError: name 'l1' is not defined

In [46]:
i = 9
n = 1
while n < i:
    print("* "*n)
    n = n+1

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

In [ ]:
7981223577