In [1]:
l = [1,2,3,4,"sudha","kumar",45.56]

In [2]:
for i in l :
    print(i)

1
2
3
4
sudha
kumar
45.56

In [3]:
for i in l:
    pass

In [4]:
s = "sudh"
for i in s:
    print(i)

s
u
d
h

In [5]:
for i in l:
    print(i)
else :
    print("if for loop is going to complete itself the it will execute else")

1
2
3
4
sudha
kumar
45.56
if for loop is going to complete itself the it will execute else

In [6]:
l

[1, 2, 3, 4, 'sudha', 'kumar', 45.56]

In [7]:
for i in l :
    if i ==4:
        break
    print(i)
else :
    print("This will execute only if for is going to compelete itself")

1
2
3

In [8]:
for i in l:
    print(i)
else:
    print("this is the python programing")

1
2
3
4
sudha
kumar
45.56
this is the python programing

In [9]:
for i in l:
    if i == 4:
         break
    print(i)
        
else:
    print("this is what pyhthon programming ")

1
2
3

In [10]:
a = "Hare Krishna"
for i in a:
    print(i)

H
a
r
e

K
r
i
s
h
n
a

In [11]:
a

'Hare Krishna'

In [12]:
for i in a:
    if i == "h":
        break        
    print(i)

H
a
r
e

K
r
i
s

In [13]:
b = "Hare Rama"
for i in b:
    print(i)

H
a
r
e

R
a
m
a

In [14]:
for i in b:
    if i == "R":
        break
    print(i)

H
a
r
e

In [15]:
k = [1,2,3,4,5,6,7,8,9,0]
for i in k:
    print(i)

1
2
3
4
5
6
7
8
9
0

In [16]:
for i in k:
    if i == 6:
        break
    print(i)

1
2
3
4
5

In [17]:
c = (1,2,3,4,5,6,7,53,1,3,51,343,4556)

In [18]:
c

(1, 2, 3, 4, 5, 6, 7, 53, 1, 3, 51, 343, 4556)

In [21]:
for i in c:
    if i == c[-1]:
        break
    print(i)

1
2
3
4
5
6
7
53
1
3
51
343

In [37]:
for i in c:
    print(i)

1
2
3
4
5
6
7
53
1
3
51
343
4556

In [53]:
a = "hare krishna"
for i in a:
    if i == "r":
        break
    print(i)

h
a

In [56]:
s = "sudhanshu"
for i in s:
    if i == "z":
        break
    print(i)
else:
    print("print string statement",s)

s
u
d
h
a
n
s
h
u
print string statement sudhanshu

In [57]:
t =(4,5,6,7,8,6,"sudh")

In [58]:
type(t)

tuple

In [61]:
s=(1,2,3,45,45,2,"hare")

In [62]:
type(s)

tuple

In [63]:
t1=[1,2,3,4,5,5]

In [64]:
type(t1)

list

In [66]:
t2=("hare","krishna")

In [67]:
type(t2)

tuple

In [68]:
s="hare"

In [69]:
type(s)

str

In [70]:
b={4,5,6,7,7,7,7,7,7, 8,"sudh"}

In [71]:
type(b)

set

In [72]:
b

{4, 5, 6, 7, 8, 'sudh'}

In [73]:
for i in b:
    print(i)

4
5
6
7
8
sudh

In [74]:
d = {"key1":"sudh","contact": 123455212,"position":"xyz"}

In [75]:
d

{'key1': 'sudh', 'contact': 123455212, 'position': 'xyz'}

In [76]:
type(d)

dict

In [86]:
for i in d:
    print(i,":" ,d[i])

key1 : sudh
contact : 123455212
position : xyz

In [78]:
d["key1"]

'sudh'

In [87]:
range(9)

range(0, 9)

In [92]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [93]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [95]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [97]:
list(range(0,9,-1))

[]

In [98]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [100]:
n = 4
for i in range(4):
    for j in range(0, i+1):
        print("sudh" ,end = " ")
    print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh