In [1]:
l = [1,2,3,4,"sudh","kumar",45,56]

In [2]:
for i in l:
    print(i)

1
2
3
4
sudh
kumar
45
56

In [4]:
for i in l:
    pass

In [5]:
s = "sudh"
for i in s:
    print(i)

s
u
d
h

In [6]:
l

[1, 2, 3, 4, 'sudh', 'kumar', 45, 56]

In [7]:
for i in l:
    print(i)

1
2
3
4
sudh
kumar
45
56

In [8]:
for i in l: 
    print(i)
else:
    print("if for loop is going to complelete it self the it will execute else")

1
2
3
4
sudh
kumar
45
56
if for loop is going to complelete it self the it will execute else

In [9]:
l

[1, 2, 3, 4, 'sudh', 'kumar', 45, 56]

In [14]:
for i in l:
    if i == 4:
        break
    print(i)
else:
    print("this will execute only if for is going to compelete itself")

1
2
3

In [18]:
s = "sudhanshu"
for i in s:
    if i == "z":
        break
    print(i)
else :
    print("print strings",s)

s
u
d
h
a
n
s
h
u
print strings sudhanshu

In [20]:
t = (4,5,6,7,8,9,"sudh ")
for i in t:
    print(i)

4
5
6
7
8
9
sudh

In [21]:
b = {4,5,6,7,7,77,7,7,7,7,7,7,77,8,"sudh"}

In [22]:
type(b)

set

In [23]:
b

{4, 5, 6, 7, 77, 8, 'sudh'}

In [24]:
for i in b:
    print(i)

sudh
4
5
6
7
8
77

In [28]:
d = {"key1":"sudh","key2":"hare","contact": "sainaveen@gmail.com","position":"xyz"}

In [36]:
for i in d:
    print(i, ":",d[i])

key1 : sudh
key2 : hare
contact : sainaveen@gmail.com
position : xyz

In [31]:
d["key1"]

'sudh'

In [37]:
range(9)

range(0, 9)

In [38]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [39]:
 for i in range(9):
        print(i)

0
1
2
3
4
5
6
7
8

In [41]:
list(range(0,9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [42]:
list(range(0,9,2))

[0, 2, 4, 6, 8]

In [43]:
list(range(0,9,-1))

[]

In [44]:
list(range(9,0,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [45]:
n = 4
for i in range(4):
    for j in range(0,i+1):
        print("sudh",end = " ")
    print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [47]:
n = 4
for i in range(4):
    for j in range(0,i+1):
        print("sudh", end = " ")
    print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [48]:
n = 4
for i in range(4):
    for j in range(0,i+1):
        print("sudh", end = " ")
    print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [49]:
n = 4
for i in range(4):
    for j in range(0,i+1):
        print("hare krishna", end = " ")
    print("\n")

hare krishna

hare krishna hare krishna

hare krishna hare krishna hare krishna

hare krishna hare krishna hare krishna hare krishna

In [51]:
n = 3
for i in range(3):
    for j in range(0,i+1):
        print("hare krishna", end = " ")
    print("\n")

hare krishna

hare krishna hare krishna

hare krishna hare krishna hare krishna

In [58]:
s = "ineuron"
for i in range(len(s)-1,-1,-1):
    print(i,s[i])

6 n
5 o
4 r
3 u
2 e
1 n
0 i