In [ ]:
a=10
if a==10

:

In [ ]:
a

In [ ]:
a=10
if a==10:
print("This is my first condition")

:

In [ ]:
a=10
if a==10:
    print("This is my first Condition")

In [ ]:
a= 10
if a>5:
    pass

In [ ]:
a= 10
if a<10:
    print("Print this if condition is true")

In [ ]:
a= 10
if a<8:
    print("Print this if condition is true")

In [ ]:
a= 10
if a>5:
    print("Print this if condition is true")

In [ ]:
a=10
if a !=11:
    print("My consition is false")
    else:
        print("print this")

In [ ]:
a=10
if a !=11:
    print("My consition is false")
else:
        print("print this")

In [ ]:
a=10
if a ==11:
    print("My consition is false")
else:
        print("print this")

In [1]:
a=10
if a==12:
    print("Here we are trying to compare 10 with 12")
elif a==10:
    print("we are trying to compare 10 with the 11")
else :
    print("if all the blocks will fail then do this")

we are trying to compare 10 with the 11

In [ ]:
price =500
if price>500:
    print("May be i wont able to buy  a jacket")
elif price<500:
    print("i will be able to buy a jacket")
elif price==500:
    print("For sure i am able to buy")
else :
    print("I dont know")

In [ ]:
price>500

In [2]:
price<500

NameError: name 'price' is not defined

In [ ]:
price==500

In [ ]:
l =[1,2,3,4,5,6]
2 in 1

In [ ]:
l =[1,2,3,4,5,6]
 2 in 1

In [ ]:
l = [1,2,3,4,5,6]
2 in 1

In [ ]:
l = [1,2,3,4,5,6]
2 in 1

In [ ]:
l =[1,2,3,4,5,6]
2 in l

In [ ]:
if 60 in l:
    print("Try to perform a task")
else:
    print("yes")

In [ ]:
if 1 in l:
    print("Try to do addition")
elif 2 in l:
    print("Try to sub")
else:
    print("Try to do mul")

In [ ]:
if 10 in l:
    print("Then to do addition")
elif 2 in l:
    print("try to sub")
elif 3 in l:
    print("try to mul")
if 4 in l:
    print("this is a new statement")

In [ ]:
a= 400

In [ ]:
b = input()

In [ ]:
type(b)

In [ ]:
c= int(input())

In [2]:
price = int(input())
if price <500:
    print("i will be able to buy something")
    if price <400:
        print("i will be able to buy a jacket")
    elif price<300:
        print("i will be able to buy a shirt")
    else:
        print("i wont be able to buy anything")
else:
    print("i wont be able to buy anything with this tag")
    if price >500:
        print("lets try somthing else")

600
i wont be able to buy anything with this tag
lets try somthing else

In [8]:
marks = int(input("enter a number "))
if marks <600:
    print("you can write gre")
    if marks>500:
        print("no gre")
    else:
        print("tofl")
    if marks <400:
        print("try somthing else")
    else:
        print("you got Tofel")
else:
    print("you got gre congo!")

enter a number 600
you got gre congo!

In [15]:
val =float(input("enter a floating point number"))
if val>=0:
    if val==0:
        print("entered value is zero")
    else:
        print("enter value is a positive number")
else:
    print("entered number is a negative number")

enter a floating point number-200
entered number is a negative number

In [23]:
a = 10
if a == 10 and a == 10 : 
    print("try to do somthing")

try to do somthing

In [27]:
a = "hare"
if a == "hare" or a == "Hare":
    print("this is hare")

this is hare

In [32]:
a = 10
b = 11
c = 12
d = 13
if a == 9 or b == 11  and c == 12  and d == 13:
     print("lets do somthing")

lets do somthing

In [ ]:
d = {'key1' : 'value', 'key2' : 'hare', 'key3' : 'harekrishna'}

In [1]:
if d['key1'] == 'value' and d['key2'] == 'hare' and d['key3'] == 'harekrishna':
    print("hare")
else:
    print("all the values are not verified")

NameError: name 'd' is not defined

In [2]:
d

NameError: name 'd' is not defined

In [3]:
d = {'key1' : 'value', 'key2' : 'hare', 'key3' : 'harekrishna'}

In [9]:
if d['key1'] == 'value' and d['key2'] == 'hare' and d['key3'] == 'harekrishna':
    print(d.values())
else:
    print("all the values are not verified")

dict_values(['value', 'hare', 'harekrishna'])

In [5]:
d

{'key1': 'value', 'key2': 'hare', 'key3': 'harekrishna'}